*
{
    margin: 0;
    padding:0;
}
#menu ul
{
    list-style: none;
}
#menu ul li 
{
    background-color: black;
    border: 1px  solid white;
    width: 269px;
    height:40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position:relative;
}
#menu ul li a
{
    text-decoration: none;
    color:white;
    display:block;
}
#menu ul li a:hover
{ 
  background-color: green;
}
#menu ul ul 
{
    position: absolute;
    display: none;
}
#menu ul li:hover >ul
{
    display: block;

}
#outerbox
{

}
#sliderbox
{
    position:relative;
    width:11040px;
    animation-name:slide; 
    animation: duration 40s;

}
#sliderbox img
{
  float:left;   
}
@keyframes slide 
{
    0%
    {
        left:0px;
    }
    10% 
    {
        left:0px;
    }
    12.5%
    {
        left: -1380px;
    }
    22.5%
    {
        left:-1380px;
    }
    25%
    {
        left:-2760px;
    }
    35% 
    {
        left:-2760px;
    }
    37.5% 
    {
        left: -4140px;
    }
    47.5%
    {
        left: -4140px;
    }
    50%
    {
        left: -5520px;
    }
    60%
    {
        left: -5520px;
    }
    62.5%
    {
        left: -6900px;
    }
    72.5%
    {
        left:-6900px;
    }
    75%
    {
        left:-8100px;
    }
    85%
    {
        left:-8100px;
    }
    87.5%
    {
       left: -9660px;  
    }
    97.5% 
    {
       left: -9660px;
    }
    100%
    {
        left: -11040px;
    }

}