#menu ul
{
    list-style: none;
}
#menu ul li 
{
    background-color: black;
    border: 2px  solid white;
    width:2px;
    height:40px;
    text-align: center;
    line-height: 40px;
    float: left;
}
#menu ul li a
{
    text-decoration: none;
    color:white;
    display:block;
}