.pay
{
    border:0px solid black;
    display: flex;
    justify-content:space-around;
    align-items: center;


}
.payb
{
    border:2px solid black; 
    float:left;
    width:400px;
    height:300px;
    margin-top: 20px;
    margin-bottom:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,4), 0 6px 20px 0 rgba(0, 0 ,0 ,0.35);
    transition: transform 0.5s;
    border-radius: 20px;
}
.payb:hover
{
    transform: scale(1.05);
}
.payb img
{
    width:400px;
    height:260px;
    border-radius: 20px;
}



table
{
  height: 20px;   
  
  
}
input
{
    width: 50%;
    height: 35px;
    border: 2px solid  rgb(48, 151, 158);
    font-size: 22px;

}

select
{ 
    border: 2px  solid rgb(48, 151, 158) ;
    font-size: 22px;
    
 }
input[type=button]:hover
{
    background-color: rgb(48, 151, 158);
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,4), 0 6px 20px 0 rgba(0, 0 ,0 ,0.35);

}
