.top_cat
{
    border:0px solid black;
    display: flex;
    justify-content:space-around;
    align-items: center;


}
.top_cat_pro
{
    border:2px solid black; 
    float:left;
    width:360px;
    height:300px;
    margin-top: 20px;
    margin-bottom:20px;
}
.top_cat_pro img
{
    width:360px;
    height:240px;
}
