.menues
{
    border:0px solid black;
    display: flex;
    justify-content:space-around;
    align-items: center;


}
.menuesb
{
    border:2px solid black; 
    float:left;
    width:360px;
    height:360px;
    margin-top: 20px;
    margin-bottom:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,4), 0 6px 20px 0 rgba(0, 0 ,0 ,0.35);
    transition: transform 0.5s;
    border-radius: 20px;
}
.menuesb:hover
{
    transform: scale(1.05);
}
.menuesb img
{
    width:360px;
    height:240px;
    border-radius: 20px;
}
.checked
{
    color:orange;
}
.starr
{
    border: 2px white;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.title p
{
   text-align: center;
}
.btn
{
    border: 2px green;
    height:60px;
    display:flex;
    justify-content:center;
    align-items: center;

}
.btn input
{   
    height: 50px;
    width: 180px;
    background-color:orange;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,4), 0 6px 20px 0 rgba(0, 0 ,0 ,0.35);
    border-radius: 7px;
    font-size:  25px;;
}
.btn input:hover
{
    background-color: green ;
    color:white;
}